
<div>
    <form (ngSubmit)="enviar()" #form="ngForm">
        <div ngClass="groupInput">
            <label for="nombre"> Nombre</label>
            <input required name="nombre" id="nombre" [(ngModel)]="formulario.nombre" #nombre="ngModel"/>
            <span *ngIf="nombre.invalid && nombre.dirty" ngClass="error">Nombre requerido</span>
        </div>
        <div ngClass="groupInput">
            <label for="valor">Valor</label>
            <input required name="valor" id="valor" [(ngModel)]="formulario.valor" #valor="ngModel"/>
            <span *ngIf="valor.invalid && valor.dirty" ngClass="error">Valor Requerido</span>
        </div>
        <div>
            <button type="submit" [disabled]="nombre.invalid || valor.invalid">Enviar</button>
        </div>
    </form>
</div>

{{form.value | json}}<br>
{{form.invalid}}  <br>
{{form.valid}}  <br>

