<h1>Formulario</h1>
<!-- <app-componente></app-componente> -->
<app-tercero></app-tercero>
<!-- <app-segundo></app-segundo><br> -->
<!-- <app-primero nombre="josue"></app-primero>

<button type="button" (click) = "cambiarTitle()">Enviar</button>
<ul>
  <li *ngFor=" let p of persona ">{{ p.nombre }}</li>
</ul>

<span [class]="color">Clase Rojo</span><br><br> 

<span [class]="{
  rojo:true,
  bgAzul:true
}">Clase Rojo
</span>
<br><br>

<div [ngSwitch] = "numero">
  <span *ngSwitchCase="1"> Uno </span>
  <span *ngSwitchCase="2"> Dos </span>
  <span *ngSwitchCase="3"> Tres </span>
  <span *ngSwitchCase="4"> Cuatro </span>
</div>
<br>
<button type="button" (click) = "cambiarState()">Cambiar estado</button>
<div *ngIf="ban; else templateName">
    <h2>Activo</h2>
</div>

<ng-template #templateName>
  <h2>Inactivo</h2>
</ng-template>

<p>
  <br><br>
  {{persona | json}}
</p> -->