<footer class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Información de Contacto</h4>
          <p>Email: ejemplo@email.com</p>
          <p>Teléfono: (123) 456-7890</p>
        </div>
        <div class="col-md-6">
          <h4>Enlaces Rápidos</h4>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Servicios</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>